@import "compass/css3";
html { height:100%; }
body { background:transparent image-url('/assets/map-bg.png') left top repeat; @include box-shadow(0px 10px 80px 10px #2e445a inset); height:100%; }
.fat-font { font-family: 'Lobster Two', "Helvetica Neue", Arial, Helvetica, sans-serif; }
.logo-w { margin-bottom:30px; }
.logo { font-size:40px; font-weight:bold; color:#fff; text-decoration:none; margin-right:30px; text-shadow:2px 2px #3D5D7E; background-color:#b0cbe6; 
	background-color:rgba(176,203,230,0.5); padding:10px 20px; @include border-bottom-radius(20px); }
.logo:hover { color:#fff; }
.main { text-align:center; }
.control-w { display:inline-block; zoom:1; *display:inline; margin:0px auto; background-color: #fff; border:1px solid #5d7d9e; padding-bottom:20px;
	@include box-shadow(#3c638c 0px 1px 20px 2px); @include filter-gradient(#fff, #e8e8e8, vertical);
	@include background-image(linear-gradient(top,  #fff 0%,#e8e8e8 100%)); @include border-radius(8px, 8px);
	.dest-w { padding:10px; text-align:center; border-bottom:1px solid #c4c4c4; @include border-top-radius(8px); 
	@include box-shadow(#d1d1d1 0px -1px 1px 0px inset); background-color: rgb(255,255,255); @include filter-gradient(#ffffff, #e7e7e7, vertical); @include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(231,231,231,1) 100%));
		label { font-size:18px; text-transform:uppercase; }
		.dest-to-w, .dest-from-w { display:block; float:left; @include border-radius(3px, 3px); border-bottom:1px solid #fff; }
		.i-text { padding:12px 5px; display:block; font-size:14px; margin:0px; width:300px; background-color:#fff; color:#bbb; border:1px solid #ccc; 
				border-color:#bbb #ccc #ccc #bbb; @include border-radius(3px, 3px); @include box-shadow(1px 1px 1px 2px #eee inset); }
		.way-select { display:block; float:left; cursor:pointer; border-bottom:1px solid #fff; border-right:1px solid #fff; @include box-shadow(1px 2px 1px 1px #ccc inset); 
			span { display:block; width:40px; height:40px; border-left:1px solid #bbb; border-top:1px solid #bbb; border-bottom:1px solid #ddd; border-right:1px solid #ddd; }
			
			&.off { border:1px solid #ccc; border-color:#ccc #bbb #bbb #ccc; background-color:#f7f7f7; @include background-image(linear-gradient(top,  #fff 0%,#d1d1d1 100%)); @include filter-gradient(#fff, #ddd, vertical); @include box-shadow(#ddd 2px 2px 2px 0px); 
				span { border-left:1px solid #fff; border-top:none; border-bottom:none; border-right:none; }
			}
			&.one-way { margin-left:5px; @include border-left-radius(4px); 
				span { background:transparent image-url('/assets/plane-one.png') center center no-repeat; @include border-left-radius(4px); }
			}
			&.two-way { margin-right:5px; @include border-right-radius(4px); border-left:1px solid #bbb;
				span { background:transparent image-url('/assets/plane-two.png') center center no-repeat; @include border-right-radius(4px); }
			}
			&.on.two-way { border-left:none!important; }
			&.on.two-way span { border-left:none!important; }
			&.off:hover span { background-color:#fff; }
		}
	}
	.week-days { border-bottom:1px solid #ccc; padding:15px 0px 3px 70px;
		span { width:40px; display:block; float:left; font-size:16px; font-weight:bold; text-align:right; padding-right:5px; margin-right:2px; }
		span.holiday { background-color:#f8edde; }
	}
	.calendar-h { height:248px; overflow-y:scroll; border-top:2px solid #fff; }
	.calendar-w { width:710px; display:inline-block; zoom:1; *display:inline;
		.days-w { padding-top:3px; 
			.month { float:left; display:block; padding:4px 5px; height:24px; text-align:right; font-size:16px; width:40px; background-color:#f9f9f9; font-weight:bold; border-bottom:1px solid #ddd; margin:1px; }
			.month.odd { background-color:#e1e1e1; border-bottom:1px solid #c8c8c8; }
			.day { display:block; float:left; padding:4px; font-size:16px; cursor:pointer; background-color:#f9f9f9; border-bottom:1px solid #ddd;
				 color:#111; margin:1px; width:36px; height:24px; text-align:right; text-shadow:1px 1px #fff; padding-right:5px; font-family: 'Nixie One', "Helvetica Neue", Arial, Helvetica, sans-serif; }
			.day span { font-size:8px; font-family:Arial; color:#555; }
			.day.holiday { background-color:#f8edde; border-bottom:1px solid #e6d3b8;  }
			.day.odd { background-color:#e1e1e1; border-bottom:1px solid #c8c8c8; }
			.day.odd.holiday { background-color:#eee0c6; border-bottom:1px solid #d0b795; }
			.day:hover { background-color:#7db3f0!important; color:#fff; text-shadow:1px 1px #649fe2; border-bottom:1px solid #649fe2; }
		}
	}
}